<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <img style="padding: 1cm;" width="500" height="500" src="../../../assets/img/enfermeras3.webp" />
</head>
<body>
<h1 style="padding: 1cm;"> Selección de Modulos </h1>
    <ul style="font-size: large;">
        <li routerLinkActive="active">
            <a routerLink="home">Home</a>
        </li>
        <li routerLinkActive="active">
             <a routerLink="citas">Recordatorios</a>
        </li>
        <li routerLinkActive="active">
             <a routerLink="personas">Información Pacientes</a>
        </li>
    </ul>
 
</body>
</html>
